<!DOCTYPE html>
<html lang="zh-cn" class="findPswSuccess">
<link rel="stylesheet" href="/css/findPswSuccess.css">
<body>
<section>
    <form action="/findPswSuccess" method="POST">
        <div class="label">
            <a>账户：<%=msgAccount%></a>
            <a>密码：<%=msgPassword%></a>
        </div>
        <div class="button">
            <input type="submit" value="返回登录" href="/login">
        </div>
    </form>
</section>
<footer>
    <p>签到点名管理系统</p>
    <p>Copyright © 2019 GUET</p>
</footer>
</body>
</html>