<!DOCTYPE html>
<html lang="zh-cn" class="login">
<%- include("./public/head.ejs")%>
<body>
<section>
    <form action="/login" method="POST">
        <div class="text">
            <input type="text" name="userAccount" placeholder="账户">
        </div>
        <div class="text">
            <input type="password" name="userPassword" placeholder="密码">
            <%if(message) {%>
                <p><%= message%> </p>
            <% } %>
        </div>
        <div class="label">
            <a href="/register">注册账号</a>
            <a href="/findPsw">忘记密码</a>
        </div>
        <div class="button">
            <input type="submit" value="登录">
        </div>
    </form>
</section>
<footer>
    <p>签到点名管理系统</p>
    <p>Copyright © 2019 GUET</p>
</footer>
</body>
</html>