<!DOCTYPE html>
<html lang="zh-cn" class="registerSuccess">
<link rel="stylesheet" href="/css/registerSuccess.css">
<body>
<section>
    <form action="/registerSuccess" method="POST">
        <div class="label">
            <a>注册成功，点击返回登录界面！</a>
        </div>
        <div class="button">
            <input type="submit" value="返回登录">
        </div>
    </form>
</section>
<footer>
    <p>签到点名管理系统</p>
    <p>Copyright © 2019 GUET</p>
</footer>
</body>
</html>