<!DOCTYPE html>
<html lang="zh-cn" class="register">
<%- include("./public/head.ejs")%>
<body>
<section>
    <form action="/register" method="POST">
        <div class="text">
            <input type="text" name="userAccount" placeholder="账户名">
        </div>
        <div class="text">
            <input type="text" name="userPassword" placeholder="密码">
        </div>
        <div class="text">
            <input type="text" name="userName" placeholder="姓名">
        </div>
        <div class="text">
            <input type="text" name="userJobNumber" placeholder="工号/学号">
        </div>
        <div class="text">
            <input type="text" name="userSex" placeholder="性别">
        </div>
        <div class="text">
            <input type="text" name="userClassID" placeholder="组织号/班级号">
        </div>
        <div class="text">
            <input type="text" name="userIdentity" placeholder="管理员验证码">
            <%if(message) {%>
                <p> <%= message%> </p>
            <% } %>
        </div>
        <div class="button">
            <input type="submit" value="立即注册">
        </div>
    </form>
</section>
<footer>
    <p>签到点名管理系统</p>
    <p>Copyright © 2019 GUET</p>
</footer>
</body>
</html>