<head>
    <meta charset="UTF-8">
    <title>点名签到系统</title>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="description" content="点名签到系统">
    <meta name="keywords" content="点名签到系统">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/login.css">
    <link rel="stylesheet" href="/css/register.css">
    <link rel="stylesheet" href="/css/findPsw.css">
</head>