a{
    text-decoration: none;
    color:#000;
}
ul,li{
    list-style: none;
    padding:0;
    margin:0;
}
.floatfix:after{
    content:'';
    display: block;
    clear: both;
}
.floatfix{
    *zoom:1;
}
body{
    background: #f0f0f0;
}

.register, .register body{
    height: 100%;
    width: 100%;
}

.register body{
    background-image: url("../img/login.jpg");
    background-size: auto;
    background-repeat: no-repeat;
}

.register .text{
    padding: 15px 0px 0px 20px;
    height: 30px;
}
.register .label{
    position: absolute;
    bottom: 40%;
    width: 60%;
    height: 20px;
    padding-left: 35%;
    text-align: right;
}

.label a{
    height: 16px;
    font-size: 16px;
    padding-right: 10px;
    padding-top: 20px;
    display: inline-block;
    margin: 0 auto;
    text-decoration: none;
    color:#d20505;
}
.register .button{
    float: left;
    padding: 40px 0px 20px 20px;
    height: 40px;
}
.text input,.button input{
    height: 30px;
    border:1px solid #c0c0c0;
    border-radius: 12px;//圆角
    padding: 6px 5px;
    margin-left:20px;
}

.register .text p{
    margin: 0;
    font-size: 12px;
    color: #d20505;
    line-height: 20px;
}

.register form{
    background: white;
    width: 320px;
    position: absolute;
    bottom: 20%;
    left: 50%;
    margin-left: -160px;
    margin-top: -125px;
    border:1px solid #c0c0c0;
    border-radius: 20px;//圆角
}

.register form input{
    width: 275px;
    background: #fff;
    margin: 0;
}

.register form input[type='submit'] {
    width: 275px;
    display:block;
    margin: 0 auto;
    height: 40px;
    background:#183D8E;
    color:#fff;
    cursor:pointer;
}


.register footer{
    position:absolute;
    bottom:20px;
    display: block;
    width:100%;
}

footer p{
    text-align: center;
    line-height:1.5em;
    margin:0;
}